:root {
  --min-height: 50px; 
  --standard-padding: 1rem;
}

body {
  font-style: normal;
  font-family: 'Manrope','Roboto Slab','Comic Neue', sans-serif;
  color: #333;
  background-color: #F0EEE1;
  margin: 0;
  padding: 0;
}

/*Startscreen, set ths to display block and uncomment code in index.html for reable startscreen */
.game-overlay-wrapper {
display: none;
}

.game-overlay {
  position: absolute;
  z-index: 11;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: rgba(200,200,200,0.5);
  background: url(images/start-bg.jpg) no-repeat center center fixed; 
  background-size: cover;
}

.game-overlay-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-overlay-flex button {
  font-size: 1.5rem;
  letter-spacing: 2px;
  animation: startButtonFx 1.5s infinite;

}

@keyframes startButtonFx {
  0%, 100% {
    padding: 1rem;
    filter: drop-shadow(0 0 30px #111);
  }
  50% {
    padding: 1.5rem;
    filter: drop-shadow(0 0 60px #111);
  }
}

.game-countdown, .game-wait {
  font-family: 'Bungee', sans-serif;
  min-height: var(--min-height);
  box-sizing: border-box;
  font-size: 1.5rem;
  font-weight: 700;
  /*background-color: #DCF7F3;*/
  color: #121;
  text-align: center;
  padding-top: 15px;
}

.game-correct-answer {
  padding: 1rem;
  box-sizing: border-box;
  min-height: var(--min-height);
  background-color: #FFFCDD;
}

.game-choice {
  box-sizing: border-box;
  padding: var(--standard-padding);
  min-height: var(--min-height);
  background-color: #FFD8D8;
  color:rgb(73, 49, 49);
}

.game-questions {
  position: relative;
  padding: var(--standard-padding);
  display: block;
  background-color: #d3ae50;
}

fieldset {
  box-sizing: border-box;
  border: 1px transparent solid;
  padding: var(--standard-padding);
  display: flex;
  justify-content: space-around;
}

.game-score {
 box-sizing: border-box;
 position: absolute;
 top: 0;
 right: 0;
 padding: 1rem;
 background-color:rgb(73, 49, 49);
 color: white;
}

.game-start-button {
  box-sizing: border-box;
  font-style: normal;
  font-family: 'Comic Neue', sans-serif;
  font-size: 14px;
  padding: 1rem;
  color: #eee;
  background-color: #333;
  border: 1px solid #444;
  border-radius: 4px;
}

.game-start-button:hover {
  cursor: pointer;
  filter: brightness(150%);
}

.game-start-button-wrapper {
  display: flex;
  justify-content: center;

}


/* Player input */

.player-input-wrapper {
  background-color: #999; 
  padding: var(--standard-padding);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.current-player-highlight {
  border-bottom: 1px solid #999;
  box-sizing: border-box;
}

.current-player-highlight img {
  animation: avatarHighlightFx 1.5s infinite;
}

@keyframes avatarHighlightFx {
  0%, 100% {
    transform: translateX(0);
    filter: drop-shadow(0 0 30px #111);
  }
  50% {
    transform: translateX(10px);
    filter: drop-shadow(0 0 60px #111);
  }
}

.player-input {
  display: flex;
  box-sizing: border-box;
  gap: 0.4rem;
}

.player-switch {
  box-sizing: border-box;
  border: 1px dotted #666;
  padding: var(--standard-padding);
  
}

/* Style player select */
.player-switch-select {
	display: block;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.player-switch-select::-ms-expand {
	display: none;
}
.player-switch-select:hover {
	border-color: #888;
}
.player-switch-select:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.player-switch-select option {
	font-weight:normal;
}


/* */

.player-input-button {
  box-sizing: border-box;
  font-style: normal;
  font-family: 'Comic Neue', sans-serif;
  font-size: 14px;
  padding: 1rem;
  color: #eee;
  background-color: #333;
  border: 1px solid #444;
  border-radius: 4px;
}

.player-input-button:hover {
  cursor: pointer;
  filter: brightness(150%);
}

.player-input-button:active {
  cursor: pointer;
  transform: scale(0.9);
}

.player-status {
    display: flex;
    box-sizing: border-box;
    gap: 0.4rem;
    margin-bottom: 1rem;
}

.player-marks {
  margin-bottom: 1rem;
}

.game-slider {
  margin-bottom: 0.5rem;
}