:root {
  --min-height: 50px; 
  --standard-padding: 1rem;
}

body {
  font-style: normal;
  font-family: 'Roboto Slab','Comic Neue', sans-serif;
  color: #333;
}

#game-grid {
  display: grid;
  max-width: 800px;
  margin: 40px auto;
  color: #efefef;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "countdown"
    "correct"
    "player-choice"
    "questions"
    ;
}

.game-countdown {
  grid-area: countdown;
  min-height: var(--min-height);
  box-sizing: border-box;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: #DCF7F3;
  text-align: center;
  padding-top: 15px;
}

.game-correct-answer {
  grid-area: correct;
  padding: 1rem;
  box-sizing: border-box;
  min-height: var(--min-height);
  background-color: #FFFCDD;
}

.game-choice {
  grid-area: player-choice;
  box-sizing: border-box;
  padding: var(--standard-padding);
  min-height: var(--min-height);
  background-color: #FFD8D8;
  color:rgb(73, 49, 49);
}

.game-questions {
  grid-area: questions;
  position: relative;
  padding: var(--standard-padding);
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
  background-color: #e3ffdd;
}




fieldset {
  box-sizing: border-box;
  border: 1px transparent solid;
  padding: var(--standard-padding);
  display: flex;
  justify-content: space-around;
}

.game-score {
 box-sizing: border-box;
 position: absolute;
 top: 0;
 right: 0;
 padding: 1rem;
 background-color:rgb(73, 49, 49);
 color: white;
}







.game-start-button {
  box-sizing: border-box;
  font-family: 'Comic Neue', sans-serif;
  letter-spacing: 1px;
  font-size: 1.8rem;
  padding: 1.5rem;
  background-color: salmon;
  color: #111;
  border: 1px solid transparent;
  border-radius: 0.2rem;
}

button:hover {
  cursor: pointer
}


.game-start-button-wrapper {
  display: flex;
  justify-content: center;

}

/* Player input */
.player-input-wrapper {
  background-color: #999; 
  padding: var(--standard-padding);
}

.player-input {
  display: flex;
  box-sizing: border-box;
  gap: 0.4rem;
}
  button {
    box-sizing: border-box;
    font-style: normal;
    font-family: 'Comic Neue', sans-serif;
    font-size: 14px;
    padding: 1rem;
    color: #eee;
    background-color: #333;
    border: 1px solid #444;
    border-radius: 4px;
  }
  button:hover {
    cursor: pointer;
    filter: brightness(150%);
  }
  .player-status {
      display: flex;
      box-sizing: border-box;
      gap: 0.4rem;
      margin-bottom: 1rem;
  }
  .player-marks {
    margin-bottom: 1rem;
  }
  .game-slider {
    margin-bottom: 0.5rem;
  }