:root {
  --min-height: 50px; 
  --standard-padding: 1rem;
  --light-text-color: #eee;
}

body {
  font-style: normal;
  font-family: 'Manrope','Roboto Slab','Comic Neue', sans-serif;
  color: #333;
  background-color: #F0EEE1;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.img-full-width {
  width: 100%;
}

button:disabled {
  filter: brightness(120%) contrast(80%);
  cursor: not-allowed;
  pointer-events: none;
}

.game-hide {
  display: none;
}


.game-button {
  box-sizing: border-box;
  font-style: normal;
  font-family: 'Comic Neue', sans-serif;
  font-size: 14px;
  padding: 1rem;
  margin-top: 8px;
  color: var(--light-text-color);
  background-color: #333;
  border: 1px solid #444;
  border-radius: 4px;
}

.game-button:hover {
  cursor: pointer;
  filter: brightness(150%);
}

.game-button:active {
  cursor: pointer;
  transform: scale(0.9);
}

.game-countdown, .game-wait {
  font-family: 'Bungee', sans-serif;
  min-height: var(--min-height);
  box-sizing: border-box;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--light-text-color);
  text-align: center;
  padding-top: 2px;
}

.game-correct-answer {
  padding: 1rem;
  box-sizing: border-box;
  min-height: var(--min-height);
  background-color: #FFFCDD;
}

.game-choice {
  box-sizing: border-box;
  padding: var(--standard-padding);
  min-height: var(--min-height);
  background-color: #FFD8D8;
  color:rgb(73, 49, 49);
}

.game-questions {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  grid-area: board;
  padding: var(--standard-padding);
  background-color: rgba(211,174,80,0.9);
  z-index: 11;
}

.game-betting {
  position: relative;
  width: 100%;
  margin-top: 3rem;
  height: calc(100%-3rem);
  text-align: center;
  box-sizing: border-box;
  grid-area: board;
  padding: var(--standard-padding);
  background-color: rgba(80, 137, 211, 0.9);
  z-index: 11;
}

fieldset {
  box-sizing: border-box;
  border: 1px transparent solid;
  padding: var(--standard-padding);
  display: flex;
  justify-content: space-around;
}

.game-score {
 box-sizing: border-box;
 position: absolute;
 top: 0;
 right: 0;
 padding: 1rem;
 background-color:rgb(73, 49, 49);
 color: var(--light-text-color);
}



/* Player input */

.player-input-wrapper {
  background-color: #999; 
  color: var(--light-text-color);
  padding: var(--standard-padding);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  grid-area: controls;
  background-color: #666;
  
  
}

.current-player-highlight {
  box-sizing: border-box;
}

.current-player-highlight img {
  animation: avatarHighlightFx 1.5s infinite;
}

@keyframes avatarHighlightFx {
  0%, 100% {
    transform: translateX(0);
    filter: drop-shadow(0 0 30px #111);
  }
  50% {
    transform: translateX(10px);
    filter: drop-shadow(0 0 60px #111);
  }
}

.player-input {
  display: flex;
  box-sizing: border-box;
  gap: 0.4rem;
}

.player-switch {
  box-sizing: border-box;
  border: 1px dotted #666;
  /*padding: var(--standard-padding);*/
  
}

/* Style player select */
.player-switch-select {
	display: block;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: 0.5rem;
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: 0.5rem;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.player-switch-select::-ms-expand {
	display: none;
}
.player-switch-select:hover {
	border-color: #888;
}
.player-switch-select:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.player-switch-select option {
	font-weight:normal;
}

/* */

.player-input-button {
  box-sizing: border-box;
  font-style: normal;
  font-family: 'Comic Neue', sans-serif;
  font-size: 14px;
  padding: 1rem;
  margin-top: 8px;
  color: var(--light-text-color);
  background-color: #333;
  border: 1px solid #444;
  border-radius: 4px;
}

.player-input-button:hover {
  cursor: pointer;
  filter: brightness(150%);
}

.player-input-button:active {
  cursor: pointer;
  transform: scale(0.9);
}

.player-status {
    display: flex;
    box-sizing: border-box;
    gap: 0.4rem;
    margin-bottom: 1rem;
}

.game-progress-buttons {
  margin-bottom: 2rem;
}

.game-slider {
  margin-bottom: 0.5rem;
}

#get-question-nr {
  display: block;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: 0.5rem;
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: 0.5rem;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
}

/* Game board */
.main-game-grid {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "gameboard gamelog"
  "controls gamelog"
  ;
  height: 100vh;
}

.game-board-wrapper {
  position: relative;
  grid-area: gameboard;
  
  background-color: burlywood;
 }

.game-board {
  display: grid;
  box-sizing: border-box;
  background-image: url('images/game-table.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%; /* Temp fix for layout problem */
  grid-template-columns: 2fr 8fr 2fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "player1 board player4"
  "player2 board player3"
  ". player5 ."
  ;
  color: var(--light-text-color);
 
}

.img-player-avatar {
  width: 64px;
}

.mark-wrapper-display-none {
  display: none;
}

.board {
  grid-area: board; 
  padding: var(--standard-padding);
  box-sizing: border-box;
  color: #d3ae50;
  min-width: 300px;
}



.player1 {
  grid-area: player1; 
  display: flex;
  justify-content: center;
  place-self: center;
  /*background-color: #153244;*/
  box-sizing: border-box; 
  padding: var(--standard-padding);
  min-width: 200px;
}

.player2 {
  grid-area: player2; 
  display: flex;
  justify-content: center;
  /*background-color: #4D4940;*/
  box-sizing: border-box;
  padding: var(--standard-padding);
  min-width: 200px;
}

.player3 {
  grid-area: player3; 
  display: flex;
  justify-content: center;
  /*background-color: #805238;*/
  box-sizing: border-box;
  padding: var(--standard-padding);
  min-width: 200px;
}

.player4 {
  grid-area: player4; 
  display: flex;
  justify-content: center;
  /*background-color: #94855A;*/ 
  box-sizing: border-box;
  padding: var(--standard-padding);
  min-width: 200px;
}

.player5 {
  grid-area: player5; 
  place-self: center;
  display: flex;
  justify-content: center;
  /*background-color: #5a8f93;*/  
  box-sizing: border-box;
  padding: var(--standard-padding);
  min-width: 200px;
  max-width: 200px;
}



.game-log {
  grid-area: gamelog; 
  box-sizing: border-box;
  padding: var(--standard-padding);
  color: var(--light-text-color);
  background-color: #333;
  line-height: 1.6;
  overflow-y: scroll;
}

.img-mark-player1, .img-mark-player2, .img-mark-player3, .img-mark-player4, .img-mark-player5 {
  width: 100%;
  display: relative;
}

.mark-player1, .mark-player2, .mark-player3, .mark-player4, .mark-player5 {
  width: 60px;
  height: 60px;
}

/* */